In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
from pyspark.sql.functions import col, isnan, when, count, concat, lit, substring
import pyspark.sql.functions as F

spark = SparkSession.builder.getOrCreate()

In [2]:
spark

In [3]:
spark.sparkContext

# LOADING THE DATA

### Create a schema for the DataFrame

In [4]:
schema = StructType() \
    .add("Year",IntegerType(),True) \
    .add("Month",IntegerType(),True) \
    .add("DayofMonth",IntegerType(),True) \
    .add("DayOfWeek",IntegerType(),True) \
    .add("DepTime",IntegerType(),True) \
    .add("CRSDepTime",IntegerType(),True) \
    .add("ArrTime",IntegerType(),True) \
    .add("CRSArrTime",IntegerType(),True) \
    .add("UniqueCarrier",StringType(),True) \
    .add("FlightNum",IntegerType(),True) \
    .add("TailNum",StringType(),True) \
    .add("ActualElapsedTime",IntegerType(),True) \
    .add("CRSElapsedTime",IntegerType(),True) \
    .add("AirTime",IntegerType(),True) \
    .add("ArrDelay",IntegerType(),True) \
    .add("DepDelay",IntegerType(),True) \
    .add("Origin",StringType(),True) \
    .add("Dest",StringType(),True) \
    .add("Distance",IntegerType(),True) \
    .add("TaxiIn",IntegerType(),True) \
    .add("TaxiOut",IntegerType(),True) \
    .add("Cancelled",IntegerType(),True) \
    .add("CancellationCode",StringType(),True) \
    .add("Diverted",IntegerType(),True) \
    .add("CarrierDelay",IntegerType(),True) \
    .add("WeatherDelay",IntegerType(),True) \
    .add("NASDelay",IntegerType(),True) \
    .add("SecurityDelay",IntegerType(),True) \
    .add("LateAircraftDelay",IntegerType(),True)

### Load data into DataFrame

In [5]:
df = spark.read.format('csv') \
      .option('header', True) \
      .schema(schema) \
      .load('src/main/resources/2008.csv.bz2')

### Remove forbidden variables

In [6]:
df = df.drop("ArrTime").drop("ActualElapsedTime"
        ).drop("AirTime").drop("TaxiIn").drop("Diverted"
        ).drop("CarrierDelay").drop("WeatherDelay").drop("NASDelay"
        ).drop("SecurityDelay").drop("LateAircraftDelay")

In [7]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- DepTime: integer (nullable = true)
 |-- CRSDepTime: integer (nullable = true)
 |-- CRSArrTime: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- ArrDelay: integer (nullable = true)
 |-- DepDelay: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiOut: integer (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- CancellationCode: string (nullable = true)

In [8]:
df.show(5, False)

+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|CancellationCode|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|2008|1    |3         |4        |1343   |1325      |1435      |WN           |588      |N240WN |70            |16      |18      |HOU   |LIT |393     |9      |0        |null            |
|2008|1    |3         |4        |1125   |1120      |1245      |WN           |1343     |N523SW |85            |2       |5       |HOU   |MAF |441     |8      |0        |null            |
|2008|1    |3         |4        |2009   |2015      |2140      |WN           |3841     |N280WN |85            |-4      |-6      |HOU   |MAF |441     |14     |0        |null            |
|2008|1    |3         |4        |903    |855       |1205      |WN           |3        |N308SA |130           |-2      |8       |HOU   |MCO |848     |7      |0        |null            |
|2008|1    |3         |4        |1423   |1400      |1710      |WN           |25       |N462WN |130           |16      |23      |HOU   |MCO |848     |10     |0        |null            |
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
only showing top 5 rows

# PROCESSING THE DATA

In [9]:
df.count()

2389217

### Remove duplicated rows

In [10]:
df = df.distinct()

In [11]:
df.groupBy(df.columns).count().filter("count > 1").show()

+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+-----+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|CancellationCode|count|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+-----+
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+-----+

### Remove instances of cancelled flights

In [12]:
df = df.filter(df.Cancelled == 0)

In [13]:
df.filter(df.Cancelled == 1).show()

+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|CancellationCode|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+

## Analyze missing values

In [14]:
# con Scala aparecen m√°s nulos
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|CancellationCode|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+
|   0|    0|         0|        0|      0|         0|         0|            0|        0|      3|           288|    5654|       0|     0|   0|       0|      0|        0|         2324771|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------------+

#### CancellationCode has more than 97% missing so it is removed

In [15]:
df = df.drop(df.CancellationCode)

#### TailNum and CRSElapsedTime can not be imputed from any other column, and ArrDelay is the target variable, but their number of missing values is not significant taking into account the total number, so the rows containing those missing values are removed

In [16]:
df = df.na.drop()

In [17]:
df.count()

2319115

## Unique values of the variables

In [19]:
df.select("Year").distinct().show()
df.select("Month").distinct().show()
df.select("DayofMonth").distinct().show()
df.select("DayOfWeek").distinct().show()
df.select("DepTime").distinct().show()
df.select("CRSDepTime").distinct().show()
df.select("CRSArrTime").distinct().show()
df.select("UniqueCarrier").distinct().show()
df.select("FlightNum").distinct().show()
df.select("TailNum").distinct().show()
df.select("CRSElapsedTime").distinct().show()
df.select("ArrDelay").distinct().show()
df.select("DepDelay").distinct().show()
df.select("Origin").distinct().show()
df.select("Dest").distinct().show()
df.select("Distance").distinct().show()
df.select("TaxiOut").distinct().show()
df.select("Cancelled").distinct().show()

+----+
|Year|
+----+
|2008|
+----+

+-----+
|Month|
+-----+
|    1|
|    2|
|    3|
|    4|
+-----+

+----------+
|DayofMonth|
+----------+
|        31|
|        28|
|        26|
|        27|
|        12|
|        22|
|         1|
|        13|
|         6|
|        16|
|         3|
|        20|
|         5|
|        19|
|        15|
|         9|
|        17|
|         4|
|         8|
|        23|
+----------+
only showing top 20 rows

+---------+
|DayOfWeek|
+---------+
|        1|
|        6|
|        3|
|        5|
|        4|
|        7|
|        2|
+---------+

+-------+
|DepTime|
+-------+
|   1829|
|   1238|
|    833|
|   1645|
|   2142|
|   1959|
|   2122|
|   1342|
|    148|
|   1127|
|   1522|
|    623|
|    737|
|   2235|
|    858|
|   1507|
|   1721|
|   1025|
|    540|
|   1903|
+-------+
only showing top 20 rows

+----------+
|CRSDepTime|
+----------+
|      1645|
|      1959|
|      1829|
|      1238|
|      1342|
|       833|
|      2122|
|      2142|
|       148|
|      1025|
|      2235|
|       623|
|       540|
|      1522|
|      1127|
|      1721|
|       858|
|      1507|
|       737|
|      1650|
+----------+
only showing top 20 rows

+----------+
|CRSArrTime|
+----------+
|      1645|
|      2142|
|      1342|
|      2122|
|      1829|
|      1959|
|       833|
|      1238|
|       148|
|      2235|
|      1025|
|       858|
|      1507|
|       737|
|      1127|
|      1721|
|      1522|
|       623|
|       540|
|      1650|
+----------+
only showing top 20 rows

+-------------+
|UniqueCarrier|
+-------------+
|           UA|
|           EV|
|           DL|
|           OO|
|           YV|
|           US|
|           OH|
|           XE|
|           WN|
|           AA|
|           NW|
|           B6|
|           F9|
|           AQ|
|           MQ|
|           HA|
|           AS|
|           FL|
|           CO|
|           9E|
+-------------+

+---------+
|FlightNum|
+---------+
|     1580|
|      463|
|     2366|
|      496|
|     3918|
|      833|
|     1829|
|      148|
|     2866|
|      471|
|     1238|
|     1342|
|     3749|
|     1088|
|     1591|
|     2122|
|     7754|
|     2659|
|     2142|
|     7240|
+---------+
only showing top 20 rows

+-------+
|TailNum|
+-------+
| N672SW|
| N866AS|
| N466SW|
| N919UA|
| N516UA|
| N513UA|
| N102UW|
| N902DE|
|  N6700|
| N388DA|
| N251WN|
| N445WN|
| N496WN|
| N622SW|
| N13118|
| N10575|
| N517UA|
| N835UA|
| N318UA|
| N654AW|
+-------+
only showing top 20 rows

+--------------+
|CRSElapsedTime|
+--------------+
|           148|
|           471|
|           243|
|           392|
|            31|
|            85|
|           137|
|           251|
|            65|
|           255|
|            53|
|           133|
|           296|
|            78|
|           322|
|           321|
|           362|
|           375|
|           597|
|           155|
+--------------+
only showing top 20 rows

+--------+
|ArrDelay|
+--------+
|     148|
|     463|
|     -35|
|     243|
|     392|
|      31|
|     137|
|      85|
|     251|
|     451|
|      65|
|     458|
|      53|
|     255|
|     133|
|     296|
|      78|
|     322|
|     362|
|     321|
+--------+
only showing top 20 rows

+--------+
|DepDelay|
+--------+
|     148|
|     496|
|     463|
|     243|
|     -35|
|     392|
|      31|
|     516|
|      85|
|     137|
|     251|
|     580|
|      65|
|     458|
|      53|
|     255|
|     133|
|     296|
|     472|
|      78|
+--------+
only showing top 20 rows

+------+
|Origin|
+------+
|   MSY|
|   GEG|
|   SNA|
|   BUR|
|   GRB|
|   GTF|
|   IDA|
|   GRR|
|   EUG|
|   PVD|
|   GSO|
|   MYR|
|   OAK|
|   MSN|
|   COD|
|   BTM|
|   FAR|
|   FSM|
|   DCA|
|   RFD|
+------+
only showing top 20 rows

+----+
|Dest|
+----+
| MSY|
| GEG|
| BUR|
| SNA|
| GRB|
| GTF|
| IDA|
| GRR|
| EUG|
| PVD|
| GSO|
| MYR|
| OAK|
| MSN|
| COD|
| BTM|
| FAR|
| DCA|
| RFD|
| MLU|
+----+
only showing top 20 rows

+--------+
|Distance|
+--------+
|    1591|
|     471|
|    1959|
|     833|
|     496|
|    1342|
|     148|
|     463|
|    1829|
|    1088|
|     737|
|     540|
|     392|
|     623|
|    1522|
|    1084|
|    1721|
|    1460|
|    1618|
|    1352|
+--------+
only showing top 20 rows

+-------+
|TaxiOut|
+-------+
|    148|
|     31|
|     85|
|    137|
|    251|
|     65|
|     53|
|    133|
|     78|
|    108|
|    155|
|     34|
|    193|
|    101|
|    115|
|    126|
|     81|
|     28|
|    183|
|    300|
+-------+
only showing top 20 rows

+---------+
|Cancelled|
+---------+
|        0|
+---------+

In [ ]:
# Month: 1, 2, 3, ... to January, February, March, ...?
# Merge Day+Month+Year in one?
# DayOfWeek: 1, 2, ... to Monday, Tuesday, ...?
# Que es TaxiOut?

### Fix format of time variables

In [20]:
df = df.withColumn("DepTimeNew", when(F.length(df.DepTime) == 3, concat(lit("0"),df.DepTime)) \
        .when(F.length(df.DepTime) == 2, concat(lit("00"),df.DepTime)) \
        .otherwise(df.DepTime))

In [21]:
df = df.withColumn("CRSDepTimeNew", when(F.length(df.CRSDepTime) == 3, concat(lit("0"),df.CRSDepTime)) \
        .when(F.length(df.CRSDepTime) == 2, concat(lit("00"),df.CRSDepTime)) \
        .otherwise(df.CRSDepTime))

In [22]:
df = df.withColumn("CRSArrTimeNew", when(F.length(df.CRSArrTime) == 3, concat(lit("0"),df.CRSArrTime)) \
        .when(F.length(df.CRSArrTime) == 2, concat(lit("00"),df.CRSArrTime)) \
        .otherwise(df.CRSArrTime))

In [23]:
df.select("DepTime","DepTimeNew","CRSDepTime","CRSDepTimeNew","CRSArrTime","CRSArrTimeNew").show()

+-------+----------+----------+-------------+----------+-------------+
|DepTime|DepTimeNew|CRSDepTime|CRSDepTimeNew|CRSArrTime|CRSArrTimeNew|
+-------+----------+----------+-------------+----------+-------------+
|    813|      0813|       810|         0810|       925|         0925|
|   1210|      1210|      1200|         1200|      1325|         1325|
|   2154|      2154|      1829|         1829|      1930|         1930|
|   1940|      1940|      1950|         1950|      2108|         2108|
|   2300|      2300|      2005|         2005|      2055|         2055|
|   2045|      2045|      2019|         2019|      2212|         2212|
|    607|      0607|       600|         0600|       706|         0706|
|    747|      0747|       750|         0750|       955|         0955|
|   1155|      1155|      1155|         1155|      1249|         1249|
|   1224|      1224|      1225|         1225|      1330|         1330|
|   1225|      1225|      1235|         1235|      1309|         1309|
|   1417|      1417|      1415|         1415|      1510|         1510|
|   1451|      1451|      1455|         1455|      1635|         1635|
|   1558|      1558|      1600|         1600|      1725|         1725|
|   1739|      1739|      1730|         1730|      1845|         1845|
|   1757|      1757|      1800|         1800|      1915|         1915|
|   1904|      1904|      1855|         1855|      2056|         2056|
|   2016|      2016|      2020|         2020|      2245|         2245|
|   2044|      2044|      2050|         2050|      2315|         2315|
|   2116|      2116|      2120|         2120|      2135|         2135|
+-------+----------+----------+-------------+----------+-------------+
only showing top 20 rows

In [33]:
df = df.drop("DepTime","CRSDepTime","CRSArrTime")

### Concordancy between related variables

#### Check that DepDelay = DepTime - CRSDepTime

In [24]:
df.select("DepTimeNew","CRSDepTimeNew","DepDelay").show()

+----------+-------------+--------+
|DepTimeNew|CRSDepTimeNew|DepDelay|
+----------+-------------+--------+
|      0813|         0810|       3|
|      1210|         1200|      10|
|      2154|         1829|     205|
|      1940|         1950|     -10|
|      2300|         2005|     175|
|      2045|         2019|      26|
|      0607|         0600|       7|
|      0747|         0750|      -3|
|      1155|         1155|       0|
|      1224|         1225|      -1|
|      1225|         1235|     -10|
|      1417|         1415|       2|
|      1451|         1455|      -4|
|      1558|         1600|      -2|
|      1739|         1730|       9|
|      1757|         1800|      -3|
|      1904|         1855|       9|
|      2016|         2020|      -4|
|      2044|         2050|      -6|
|      2116|         2120|      -4|
+----------+-------------+--------+
only showing top 20 rows

In [25]:
df = df.withColumn("CRSDepTimeNewHour", substring(df.CRSDepTimeNew, 1,2)) \
    .withColumn("CRSDepTimeNewMinute", substring(df.CRSDepTimeNew, 3,2)) \
    .withColumn("DepTimeNewHour", substring(df.DepTimeNew, 1,2)) \
    .withColumn("DepTimeNewMinute", substring(df.DepTimeNew, 3,2))

In [26]:
df.select("CRSDepTimeNew","CRSDepTimeNewHour","CRSDepTimeNewMinute","DepTimeNew","DepTimeNewHour","DepTimeNewMinute").show()

+-------------+-----------------+-------------------+----------+--------------+----------------+
|CRSDepTimeNew|CRSDepTimeNewHour|CRSDepTimeNewMinute|DepTimeNew|DepTimeNewHour|DepTimeNewMinute|
+-------------+-----------------+-------------------+----------+--------------+----------------+
|         0810|               08|                 10|      0813|            08|              13|
|         1200|               12|                 00|      1210|            12|              10|
|         1829|               18|                 29|      2154|            21|              54|
|         1950|               19|                 50|      1940|            19|              40|
|         2005|               20|                 05|      2300|            23|              00|
|         2019|               20|                 19|      2045|            20|              45|
|         0600|               06|                 00|      0607|            06|              07|
|         0750|               07|                 50|      0747|            07|              47|
|         1155|               11|                 55|      1155|            11|              55|
|         1225|               12|                 25|      1224|            12|              24|
|         1235|               12|                 35|      1225|            12|              25|
|         1415|               14|                 15|      1417|            14|              17|
|         1455|               14|                 55|      1451|            14|              51|
|         1600|               16|                 00|      1558|            15|              58|
|         1730|               17|                 30|      1739|            17|              39|
|         1800|               18|                 00|      1757|            17|              57|
|         1855|               18|                 55|      1904|            19|              04|
|         2020|               20|                 20|      2016|            20|              16|
|         2050|               20|                 50|      2044|            20|              44|
|         2120|               21|                 20|      2116|            21|              16|
+-------------+-----------------+-------------------+----------+--------------+----------------+
only showing top 20 rows

In [27]:
df = df.withColumn("DepDelayNew", (col("DepTimeNewHour") - col("CRSDepTimeNewHour"))*60 - col("CRSDepTimeNewMinute") + col("DepTimeNewMinute"))

In [28]:
df = df.withColumn("DepDelayNew",col("DepDelayNew").cast(IntegerType()))

In [29]:
df.select("DepTimeNew","CRSDepTimeNew","DepDelay","DepDelayNew").show()

+----------+-------------+--------+-----------+
|DepTimeNew|CRSDepTimeNew|DepDelay|DepDelayNew|
+----------+-------------+--------+-----------+
|      0813|         0810|       3|          3|
|      1210|         1200|      10|         10|
|      2154|         1829|     205|        205|
|      1940|         1950|     -10|        -10|
|      2300|         2005|     175|        175|
|      2045|         2019|      26|         26|
|      0607|         0600|       7|          7|
|      0747|         0750|      -3|         -3|
|      1155|         1155|       0|          0|
|      1224|         1225|      -1|         -1|
|      1225|         1235|     -10|        -10|
|      1417|         1415|       2|          2|
|      1451|         1455|      -4|         -4|
|      1558|         1600|      -2|         -2|
|      1739|         1730|       9|          9|
|      1757|         1800|      -3|         -3|
|      1904|         1855|       9|          9|
|      2016|         2020|      -4|         -4|
|      2044|         2050|      -6|         -6|
|      2116|         2120|      -4|         -4|
+----------+-------------+--------+-----------+
only showing top 20 rows

In [30]:
# salen mal los valores que se pasan de 00:00
df_wrong = df.filter(df.DepDelay != df.DepDelayNew)

In [31]:
df_wrong.select("DepTimeNew","CRSDepTimeNew","DepDelay","DepDelayNew").show()

+----------+-------------+--------+-----------+
|DepTimeNew|CRSDepTimeNew|DepDelay|DepDelayNew|
+----------+-------------+--------+-----------+
|      0117|         2020|     297|      -1143|
|      0025|         2244|     101|      -1339|
|      0016|         2115|     181|      -1259|
|      0057|         1920|     337|      -1103|
|      0105|         2000|     305|      -1135|
|      0032|         2225|     127|      -1313|
|      0018|         2130|     168|      -1272|
|      0110|         2343|      87|      -1353|
|      0024|         2355|      29|      -1411|
|      0011|         2130|     161|      -1279|
|      0054|         2345|      69|      -1371|
|      0050|         2330|      80|      -1360|
|      0057|         2120|     217|      -1223|
|      0010|         2205|     125|      -1315|
|      0024|         2145|     159|      -1281|
|      0233|         2320|     193|      -1247|
|      0320|         2348|     212|      -1228|
|      0013|         2310|      63|      -1377|
|      0042|         2158|     164|      -1276|
|      0023|         2330|      53|      -1387|
+----------+-------------+--------+-----------+
only showing top 20 rows

In [ ]:
# drop hour and minutes columns?

#### No flights with same Origin and Destination

In [32]:
# quitarlos directamente para automatizar el proceso?
df.filter(df.Origin == df.Dest).show()

+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------+-------------+-------------+-----------------+-------------------+--------------+----------------+-----------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|CRSElapsedTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiOut|Cancelled|DepTimeNew|CRSDepTimeNew|CRSArrTimeNew|CRSDepTimeNewHour|CRSDepTimeNewMinute|DepTimeNewHour|DepTimeNewMinute|DepDelayNew|
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------+-------------+-------------+-----------------+-------------------+--------------+----------------+-----------+
+----+-----+----------+---------+-------+----------+----------+-------------+---------+-------+--------------+--------+--------+------+----+--------+-------+---------+----------+-------------+-------------+-----------------+-------------------+--------------+----------------+-----------+

In [37]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Month: integer (nullable = true)
 |-- DayofMonth: integer (nullable = true)
 |-- DayOfWeek: integer (nullable = true)
 |-- UniqueCarrier: string (nullable = true)
 |-- FlightNum: integer (nullable = true)
 |-- TailNum: string (nullable = true)
 |-- CRSElapsedTime: integer (nullable = true)
 |-- ArrDelay: integer (nullable = true)
 |-- DepDelay: integer (nullable = true)
 |-- Origin: string (nullable = true)
 |-- Dest: string (nullable = true)
 |-- Distance: integer (nullable = true)
 |-- TaxiOut: integer (nullable = true)
 |-- Cancelled: integer (nullable = true)
 |-- DepTimeNew: string (nullable = true)
 |-- CRSDepTimeNew: string (nullable = true)
 |-- CRSArrTimeNew: string (nullable = true)
 |-- CRSDepTimeNewHour: string (nullable = true)
 |-- CRSDepTimeNewMinute: string (nullable = true)
 |-- DepTimeNewHour: string (nullable = true)
 |-- DepTimeNewMinute: string (nullable = true)
 |-- DepDelayNew: integer (nullable = true)